@model Users.Entity.Advice
  
<div class="col-auto">
    <div class="card mb-3" style="min-width: 25rem; max-width: 25rem;min-height: 25rem; max-height: 25rem;">
        <div class="card-header d-flex justify-content-between" style="font-size:18px;">
            <div>@Model.Data.ToShortDateString() <i class="fas fa-calendar-alt"></i> </div> 
            <div><i class="fas  fa-angle-down mr-4" style="color: @Model.Category.Color">@Model.Category.Name</i><i class="fas fa-ellipsis-v"></i></div>
        </div>
        <div class="card-body">
            <div class="card-title overflow-hidden cardhead">@Html.ActionLink(@Model.Headline,"Open","Advice",new { adviceId = Model.AdviceId },new {@class= "nav-link" })</div>
            <div class="overflow-auto" style="height:10rem;">
                <p class="card-text  overflow-auto">@Model.Discription</p>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-between" style="font-size:22px;">
            <div id="@Model.AdviceId.ToString()">
              
                    @{ Html.RenderAction("Like","Advice",new {adviceid  = Model.AdviceId, start = false}); }
            
            </div>
            <div> 40<i class="far fa-star "></i></div>
            <div>12 <i class="far fa-comment-dots"></i></div>
           
        </div>
    </div>
</div>
